<%- include('../partials/header/header') %>
<div class="pageContainer">
  <div class="page">
    <h2>Flights Index</h2>
    <table class="table table-hover" style="height: 3rem;">
      <thead class="thead-dark">
        <th>Airline</th>
        <th>Flight Number</th>
        <th>Departs</th>
        <th>Airport</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% flights.forEach(flight => { %>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
          <td><%= flight.airport %></td>
          <td><a href="/flights/<%=flight._id %>">DETAILS</a></td>
          <td>
            <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger" type="submit">X</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<%- include('../partials/footer/footer') %>
